

  

  


.name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: aquamarine;
  text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    size: 25vw;
    font-size: large;
  
}

.profile{
  height:50px;
  width: 50px;  
  
  
  
}
.App{
  text-align: center;
  margin-top: 100px;
}
.im{
height: 250px;
width: 250px;
border-radius: 100%;
}
body{
  background: linear-gradient(to right, #30CFD0 , white , rgba(226, 152, 15, 0.74));

}